.my-custom-class{
  background-color: #1c1c1a !important;
  .my-title-class{
    color: #fff;
    font-size: 60rpx;
  }
}
.van-hairline--bottom:after {
  border-bottom-width: 0px !important;
}
page{
  background-color: #1c1c1a !important;
  color: #fff;
}


